{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- add the g to png -->
    <div id="favicon">
        <h1><a href="{% url 'home' %}"><img  src="{% static 'images/AIMSFAVICON.pn'%}" alt="Loading logo" /></a></h1>
    </div>
    <div class="Articles">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <form class='button-link' action="{% url 'articles:logout' %}" method="post">
                            <button type="submit">logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'articles:create' %}">New Article</a></li>
                {% else %}
                    <li>
                        <form class="site-form" action="{% url 'login' %}" method="post">
                            <button type="submit">login</button>    
                        </form>
                    </li>
                {% endif %}
            </ul>
        </nav>
        
        <h1>Read latest news here</h1>
        {% for article in Article %}
            <div class="article">
                <h1><a href="{% url 'articles:details' slug=article.slug %}">{{article.Title}}</a></h1>
                <p>{{article.BodySnipet}}</p>
                <p>{{article.Date}}</p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>